* {
    box-sizing: border-box;
    
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7549ffcc;
}

.nav {
    grid-area: nav;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.main {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    'header'
    'nav'
    'main';
    flex-direction: column;
}

/* .header {
    display: flex;
    flex: auto;
    grid-area: header;
    background-color: seagreen;
    justify-content: space-between;
}


#person1 {
    max-width: 3rem;
    align-self: center;
    border-radius: 50%;
}


.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        display: block;
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        'header header'
        'nav main';
    }

    .main { 
        grid-template-columns: 50%;
    }

    .traffic, .social-container {
        grid-column: 1 / 2;
    }

    .daily, .members, .message, .activity, .settings {
        grid-column: 1 / 1; 
    }

    .mobile  {
        grid-column: 2 / 2;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

}

/*
h1 {
    align-self: center;}



ul {
    list-style-type: none;
}

.home,
.members,
.visit,
.settings {
    transform: scale(.1);
    max-width: 320px;
    max-height: 55px;
}

*/ 